@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.logo {
  /* background-image: url(../src/assets/images/logo.svg); */
  margin-right: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
}

.navbar {
  display: flex;
  justify-content: space-between;
}